<!DOCTYPE html>
<html>
    <head>
        <title>About Ben</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/first_style.css')}}">

    </head>

    <body>
        <header>
            <h1>About Ben</h1>
        </header>
        <ul>
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/about" title="Learn about who Ben Haley is and who he will be in the future">About</a></li>
            <li><a href="/signin" title="Sign in to your account">Sign-In</a></li>
        </ul>
        <br>
        <iframe height="300px" width="50%" name="iframe_a"></iframe>
        <div>Choose a video:</div>
        <div>
            <a href="https://www.google.com" target="iframe_a">Maze Runner 3 Trailer</a>
            <tab indent=4>
            <a href="https://www.youtube.com/watch?v=8P0aaIOnYiE" target="iframe_a">Marvel's Venom Trailer</a>
            <tab indent=4>
            <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" target="iframe_a">Star Wars: The Last Jedi Trailer</a>
        </div>
    </body>

</html>
