<!DOCTYPE html>
<html>
    <!--Things in the head are not displayed on the webpage-->
    <!--The title element puts a label on the tab-->
    <head>
        <title>First Webpage</title>
        <!--Defines the language. utf-8 supports practically everything-->
        <meta charset="utf-8">
        <!-- For Python code to link CSS in external folder to html -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/first_style.css') }}">
        <!--This links my CSS file to my html
        <link rel="stylesheet" href="first_style.css">
         This is when the file is run alone -->
    </head>

    <!--Everything in the body is shown on the webpage.-->
    <body>
        <header>
            <h1>Ben's Masterpiece</h1>
        </header>
        <ul>
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/about" title="Learn about who Ben Haley is and who he will be in the future">About</a></li>
            <li><a href="/signin" title="Sign in to your account">Sign-In</a></li>
        </ul>
        <br>
        <img src="{{ url_for('static', filename='images/card1.jpg') }}" alt="Captain America Playing Card">
        <p>
            This semester I am rooming with 3 roommates.<br>
            Their names are:<br>
            <ul style >
                <li>Evan Richards</li>
                <li>Gunnar Henson</li>
                <li>Batu Balimtus</li>
            </ul>
            <div>
                Living in the Varsity this semster has been awesome. The location<br>
                is perfect for my classes. Living with other computer engineers<br>
                helps me learn class material and get to know what others in my<br>
                field are thinking. Here are the requirements for an engineering<br>
                degree in
                <a href="http://www.ece.umd.edu/undergrad/ce-degree-requirements">
                    Computer Engineering at the University of Maryland
                </a>. <br>
            </div>
        </p>
    </body>
</html>
